.center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 650px;
    overflow-x: hidden;
    margin-left: -0.8em;
    padding-left: -0.5em;
}

.eventList {
    overflow-y: scroll;
    min-width: 1400px;
    max-height: 120vh;
    overflow-x: hidden;
}

.center h2 {
    font-size: 1em;
}

.center p{
    font-size: 0.8em;
}